.build/
*.elf
*.toolchain
*.o
.ninja_log
.ninja_deps
*.d
toolchain/downloads
toolchain/ninja-build
doc/
FirmwareInfo.cc.rake-defs
FirmwareInfo.cc
build.ninja
tools/simulator/simulator
toolchain/nanopb
*.sublime-*
build-*/
local.mk
